html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  font-size: 1.125rem; /* 18 px is 1.125 rem https://remtopx.com/*/
  color: white;
  text-shadow: 1px 1px 1px black;
  line-height: 8;
  border-radius: 10px;
  border: 1px solid green;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%), green;
  box-shadow: 3px 3px 6px black, inset 2px 2px 2px grey, inset -2px -2px 2px black;
}
